/* html */

* {
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: PressStart2P;
    src: url(../fonts/PressStart2P/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: Tomorrow;
    src: url(../fonts/Tomorrow/Tomorrow-Thin.ttf);
}

@font-face {
    font-family: Vt323;
    src: url(../fonts/VT323/VT323-Regular.ttf);
}

.h_family {
    font-family: 'PressStart2P', sans-serif;
    margin-top: 0;
    font-size: 2.25rem;
    margin-bottom: 2rem;
}


/* header */

header {
    background-image: url(../img/background_header.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    font-family: 'PressStart2P',sans-serif;
}

.size_face {
    width: 10rem;
    border-radius: 50%;
    margin: 1.25rem 0rem 1.25rem 3.75rem;
}

nav {
    color: whitesmoke;
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu_burger {
    display: none;
    border: 3px solid #fff;
    border-radius: 80px;
    padding: 2rem;
    font-size: 1.875rem;
}

header p {
    margin: 0;
    padding-right: 0.5rem;
}

.ul_first {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.li_first {
    display: inline;
    font-size: 1.875rem;
}

.li_first:hover {
    color: #ffcc00;
    text-decoration: underline;
}

.ul_burger {
    display: none;
}

.li_burger {
    display: flex;
    flex-direction: column;
}


a {
    text-decoration: none;
}

a:hover {
    color: #ffcc00;
    text-decoration: underline;
}

/* boby */

body {
    background-color: #131010;
}

section {
    display: flex;
    padding: 0 8rem;
    margin: 6rem 0;
}

.section_margin {
    margin: 12rem 0;
}


article {
    display: flex;
}
.article_two {
    flex-direction: row-reverse;
}

main img {
    width: 31.25rem;
    height: 18.75rem;
    border-radius: 12px;
    border: 3px solid;
    border-color: #fff;
    object-fit: cover;
}

.p_family {
    font-family: 'Vt323', sans-serif;
    font-size: 1.875rem;
}

img:hover {
    border-color: #ffcc00;
}

.p_one {
    padding: 1rem 3rem;
    width: 70%;
}


.p_two {
    width: 70%;
    padding: 1rem 3rem;
}

/* footer */

footer {
    background-image: url(../img/background_header.png);
    background-size: cover;
    display: flex;
    }

.logo_size {
    font-size: 4.375rem;
    color: #E74C3C;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

.h_de_fin {
    display: flex;
    justify-content: center;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
}

.ul_second {
    display: flex;
    justify-content: left;
    margin: 0;
    padding-left: 10.938rem;
    z-index: 0;
}

.li_second {
    list-style-type: none;
    margin-left: 1.563rem;
    margin-right: 1.563rem;
}

.btn {
    border-radius: 50%;
    background-color: #fff;
    font-size: 5rem;
    color: black;
    border: 2px solid #fff;
    opacity: 0.3;
    position: fixed;
    z-index: 999;
    right: 2rem;
    bottom: 3rem;
}

/* media queries */

/* tablette */
@media screen and (max-width: 920px) {
    
    section {
        margin-bottom: 0;
        margin-left: auto;
    }


    .ul_first {
        top: 0;
        left: 0;
        position: absolute;
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.427);
        backdrop-filter: blur(7px);
        z-index: 0;
        justify-content: start;
        padding-top: 250px;
    }

    .li_first {
        margin: 1.5rem;
    }

    .menu_burger {
        display: flex;
        z-index: 999;
    }
    .menu_burger:active .ul_first {
        display: block;
    }
    article {
        flex-direction: column;
        align-items: center;
    }

    .p_one {
        margin: 3rem;
    }
    
    .section_margin {
        margin: 0;
    }

    img:hover {
        border-color: none;
    }
    
    .article_two {
        flex-direction: column;
        align-items: center;
        margin-bottom: 6rem;
    }

    .p_two {
        margin: 3rem;
    }

    h3 {
        text-align: center;
    }

    .h_de_fin {
        margin-top: 0;
    }

    footer {
        justify-content: center;
    }

    .ul_second {
        text-align: center;
        padding: 0;
    }

    footer #arrow {
        display: none;
    }

    .li_second {
        margin: 0 3.75rem;
    }

    .logo_size {
        font-size: 7rem;
    }
}

@media screen and (max-width: 720px) {
    section {
        padding: 0;
    }
    
    .li_second {
    margin: 0 1.75rem;
    }

    .article_two {
        margin-bottom: 1rem;
    }
}

/* phone */
@media screen and (max-width: 500px) {
    
    body {
        width: 100vw;
        height: 100vh;
    }

    .h_family {
        text-align: center;
        font-size: 1.5rem;
    }

    .p_family {
        text-align: center;
        font-family: 1rem;

    }

    .size_face {
        width: 5rem;
        margin: 0.5rem 2rem 0.5rem 2rem;
    }

    .menu_burger {
        font-size: 1rem;
        padding: 0.7rem;
        border: 3px solid;
    }

    main img {
        width: 14.813rem;
        height: 12.313rem;
    }

    section {
        margin-bottom: auto;
        padding: 0;
        margin-top: 2rem;
    }

    article {
        flex-direction: column;
        align-items: center;
    }

    .p_one {
        margin: 2rem;
        padding: 0;
    }
    
    .section_margin {
        margin: 0;
        padding: 0;
    }
    
    .article_two {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .p_two {
        margin: 3rem;
        padding: 0;
    }

    h3 {
        text-align: center;
    }

    .h_de_fin {
        margin-top: auto;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .logo_size {
        font-size: 3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .ul_first {
        display: none;
    }

    .menu_burger {
        display: flex;
    }

    footer {
        justify-content: center;
    }


    .ul_second {
        text-align: end;
        padding: auto;
    }

    footer #arrow {
        display: none;
    }

    .li_second {
        margin: 1rem;
        padding-top: 0;
    }

    img:hover {
        border-color: white;
    }
}